
/* Landing drawer: hide numbers */
.drawer-number {
    display: none !important;
}

/* Landing drawer group dividers */
.drawer-menu-divider {
    height: 1px !important;
    margin: 10px 0 !important;
    background: rgba(183, 122, 61, 0.48) !important;
}
